/tfc-betfair-ios.aux
/tfc-betfair-ios.dvi
/tfc-betfair-ios.log
/tfc-betfair-ios.pdf
/tfc-betfair-ios.toc
/tfc-betfair-ios.bbl
/tfc-betfair-ios.blg
/tfc-betfair-ios.lof
/tfc-betfair-ios.lot
/tfc-betfair-ios.out
/auto
/*~
